.BillUI {
  width: 76px;
  height: 33px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Plugin-for-generate {
  width: 271px;
  height: 20px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Path {
  width: 652px;
  height: 2px;
  background-color: #d8d8d8;
}

.Radious-Round-Corne {
  width: 245px;
  height: 25px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Fills-Color {
  width: 113px;
  height: 25px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Borders-Color {
  width: 150px;
  height: 25px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Border-Width {
  width: 143px;
  height: 25px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Shadow {
  width: 79px;
  height: 25px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Select-one-shape-to {
  width: 219px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515050;
}

.MutateBtn {
  width: 197px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.MUTATE {
  width: 71px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515050;
}

.SelectBtn {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
