# build artifacts
plugin.sketchplugin

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

### Our own gitignores ###
billui.sketchplugin/Contents/Sketch/main.js
billui.sketchplugin/Contents/Sketch/main.js.map
